// Lumos Windows resources
#include <windows.h>
#include "resource.h"

// Application icons
IDI_LUMOS ICON "icon.ico"
IDI_GEARS ICON "gears.ico"
IDI_BOLT ICON "bolt.ico"
IDI_BOLT_SLASH ICON "bolt-slash.ico"

// Version info
VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,2,0,0
PRODUCTVERSION  0,2,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription", "Lumos - Monitor Gamma Utility"
            VALUE "FileVersion", "0.2.0"
            VALUE "ProductName", "Lumos"
            VALUE "ProductVersion", "0.2.0"
            VALUE "LegalCopyright", "GPL v2"
        END
    END
END
